node_modules/
dist/
build/

# Vite
.vite/

# =========================
# VS Code
# =========================
.vscode/
.history/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Testing / Coverage
# =========================
.coverage
htmlcov/
.pytest_cache/
coverage/

# =========================
# Cache Files
# =========================
.cache/
*.cache

# =========================
# IDE Files
# =========================
.idea/
*.swp
*.swo

# =========================
# Misc
# =========================
*.bak
*.tmp